<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tra Cứu</title>
    <style>
        th,
        td {
            padding: 10px;
        }
        
        thead {
            color: red;
            background-color: rgb(123, 123, 216);
        }
        
        tr {
            background-color: antiquewhite;
        }
        
        a {
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <a href="/">trang chủ</a>
    <div style="font-size: 50px;text-align: center;color: green;margin: 20px auto">góp ý </div>
    <section>
        <form action="" method="post">
            <table style="margin: 20px auto;width: 60%;text-align: center">
                <tbody>
                    <tr>
                        <td style="width: 40%">name</td>
                        <td><input name="name" style="width: 80%"></td>
                    </tr>
                    <tr>
                        <td style="width: 40%">address</td>
                        <td><input name="address" style="width: 80%"></td>
                    </tr>

                    <tr>
                        <td style="width: 40%">feedback</td>
                        <td><textarea style="width: 80%;" name="feedback" rows="5" type="text" name="" id="nhan_xet" value="feedback....."></textarea></td>
                    </tr>

                    <tr>
                        <td colspan="2"><input type="submit" name="submit" value="gửi" style="padding:20px 50px;background-color:black;color: white;"></td>
                    </tr>
                </tbody>
            </table>


        </form>
    </section>

</body>

</html>