<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Custom-Files -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Bootstrap-CSS -->

    <!-- Style-CSS -->
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" type="text/css" href="../css/superslides.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="../JS/script.js"></script>
    <script src="../JS/jquery.superslides.min.js"></script>

    <link rel="stylesheet" href="../css/mayBeYouLike.css">
</head>

<body>
    <!-- more -->
    <section class="blog_w3ls py-5" id="more">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="tittle mb-sm-5 mb-4">You may also like</h3>
            <div class="row">
                <!-- blog grid -->
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="med-blog">
                        <div class="blog-header">
                            <a href="blog3.html">
                                <img class="img-fluid" src="anh/blog1.jpg" alt="image">
                            </a>
                        </div>
                        <div class="blog-body bg-wh p-4 mauNen">
                            <span>March 12, 2019 - loremipsum</span>
                            <br>
                            <a href="blog3.html" class="blog-title">Dictum porta auris magna umgtdd fos</a>
                            <p>Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra se.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- //blog grid -->
                <!-- blog grid -->
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="med-blog">
                        <div class="blog-header">
                            <a href="blog2.html">
                                <img class="img-fluid" src="anh/blog2.jpg" alt="image">
                            </a>
                        </div>
                        <div class="blog-body bg-wh p-4 mauNen">
                            <span>March 14, 2019 - pharetra</span>
                            <br>
                            <a href="blog2.html" class="blog-title">Quis autem vel eum iure reprehdd ende</a>
                            <p>Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra se.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- //blog grid -->
                <!-- blog grid -->
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="med-blog">
                        <div class="blog-header">
                            <a href="blog4.html">
                                <img class="img-fluid" src="anh/blog3.jpg" alt="image">
                            </a>
                        </div>
                        <div class="blog-body bg-wh p-4 mauNen">
                            <span>March 16, 2019 - portaout</span>
                            <br>
                            <a href="blog4.html" class="blog-title">Suscipit labo iosam nisi ut aliquid</a>
                            <p>Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra se.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- //blog grid -->
            </div>
        </div>
    </section>
    <!-- //more -->
</body>

</html>